- name: Ensure Wireguard installed
  ansible.builtin.package:
    name: "wireguard"
    state: latest
  notify: Restart Wireguard

- name: Render server configuration
  ansible.builtin.template:
    src: server.conf.j2
    dest: /etc/wireguard/{{ wireguard_interface_name }}.conf
    mode: 0600
    force: true
  notify: Restart Wireguard

- name: Render client configurations
  connection: local
  delegate_to: localhost
  loop: "{{ wireguard_clients }}"
  ansible.builtin.template:
    src: client.conf.j2
    dest: "{{ wireguard_outputs.path }}/{{ wireguard_outputs.prefix }}{{ item.name }}.conf"
    force: true
  vars:
    client: "{{ item }}"

- name: Configure UFW
  ansible.builtin.include_tasks: ufw.yml
  tags: ufw
