- name: Open Wireguard port
  community.general.ufw:
    rule: allow
    to_port: "{{ wireguard_server.public.listen_port }}"
    protocol: udp
    comment: "Wireguard"

- name: Ensure masquerading for Wireguard traffic
  ansible.builtin.blockinfile:
    path: /etc/ufw/before.rules
    block: |
      *nat
      :POSTROUTING ACCEPT [0:0]

      #Forward traffic from Wireguard
      -A POSTROUTING -s {{ wireguard_peers_network }} -o {{ wireguard_server.gateway_interface }} -j MASQUERADE

      COMMIT
    insertbefore: BOF
    marker_begin: "# Wireguard masquerading - BEGIN"
    marker_end: "# Wireguard masquerading - END"
  notify: Reload UFW

- name: Allow routing Wireguard clients
  community.general.ufw:
    rule: allow
    route: true
    interface_in: "{{ wireguard_interface_name }}"
    interface_out: "{{ wireguard_server.gateway_interface }}"
    comment: "Wireguard routing"

- name: Enable packet forwarding at the kernel level
  loop:
    - net.ipv4.ip_forward
    - net.ipv6.conf.default.forwarding
    - net.ipv6.conf.all.forwarding
  sysctl:
    name: "{{ item }}"
    value: "1"
    sysctl_file: 999-wireguard-forwarding.conf
    reload: true
    state: present
  register: sysctl

- name: Restart UFW
  block:
    - community.general.ufw:
        state: disabled
    - community.general.ufw:
        state: enabled
  when: sysctl.changed
