- name: Open Wireguard port
  community.general.ufw:
    rule: allow
    to_port: "{{ wireguard_server.public.port }}"
    protocol: udp
    comment: "Wireguard"

- name: Ensure masquerading for Wireguard traffic
  ansible.builtin.blockinfile:
    path: /etc/ufw/before.rules
    block: |
      *nat
      :POSTROUTING ACCEPT [0:0]

      #Forward traffic from the Wireguard subnet through the privnet iface
      -A POSTROUTING -s {{ wireguard_peers_network }} -j MASQUERADE

      COMMIT
    insertbefore: BOF
    marker_begin: "# Wireguard masquerading - BEGIN"
    marker_end: "# Wireguard masquerading - END"
  notify: Reload UFW

- name: Allow routing from Wireguard
  community.general.ufw:
    rule: allow
    route: true
    interface_in: "{{ wireguard_interface_name }}"
    comment: "Wireguard routing"
