[Interface]
Address = {{ ([] + wireguard_server.private.peer_ip + wireguard_tunneled_cidrs) | join(',') }}
ListenPort = {{ wireguard_server.public.listen_port }}
PrivateKey = {{ wireguard_server.keypair.private }}

{% for client in wireguard_clients %}
[Peer] # {{ client.name }}
AllowedIPs = {{ client.peer_ip }}/32
PublicKey = {{ client.keypair.public }}

{% endfor %}
