[Interface]
Address = {{ wireguard_server.public.listen_ip }},{{ wireguard_server.private.peer_ip }}
ListenPort = {{ wireguard_server.public.listen_port }}
PrivateKey = {{ wireguard_server.keypair.private }}

{% for client in wireguard_clients %}
[Peer] # {{ client.name }}
AllowedIPs = {{ client.peer_ip }}/32
PublicKey = {{ client.keypair.public }}

{% endfor %}
